#title{
    background-color: #ff4c68;
    color: #fff;
}
.gradient-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1{
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat",sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
.navbar{
    padding: 0 0 2rem;
    
   
}
.container-fluid{
    padding: 3% 15%;
}
.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: 550;
}
.nav-link{
    margin-right: 30px;
    font-size: 1.2rem;
    font-family: "Montserrat-light";
    font-weight: lighter;
}
.dog-phone{
    margin-left: 8rem;
    width: 60%;
    transform: rotate(25deg);
}
body{
    font-family: "Montserrat", sans-serif;;
}
.download-button{
    margin: 5% 0% 5%;
    margin-right: 1rem; 
}
.fa-solid{
    margin: auto;
}
.fontawesom{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.signs{
    padding-top: 4rem;
    padding-bottom: 1rem;
    color: #ef8172;
}
.info-title{
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 900;
    size: 1.5rem;
}
.info{
    padding-left: 3rem;
    padding-right: 3rem;
    color: #8f8f8f;
}
#features{
    padding: 7% 10%;
}
.signs:hover{
    color: #ff4c68;
}
#testimonials{
    
    text-align: center;  
    background-color: #ef8172; 
    color: #fff;
}
.testimonial-image{
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 4%;
}
.press-images{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 10%;
}
#pricing{
    text-align: center;
    padding: 4rem 6rem 0;
}
.pricing-head{
    font-weight: 500;
}
.margin{
    margin-bottom: 0;
}
.box-sizing{
    margin-bottom: 0;
}